@font-face {
  font-family: American Kestrel;
  src: url("../src/assets/fonts/American-kestrel-semistraight.ttf");
}

@keyframes showAndHide {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:root {
  --color-primary: #ff0000;
  --color-background-outside: #000000;
  --color-text: #f3ebc7;
  --color-text-white: #ffffff;
  --color-button-background: #f3ebc719;
  --color-loading-border: #00000029;
  --color-loading-background: #ffffff26;
}

html {
  width: 100%;
  height: 100%;
  background-color: var(--color-background-outside);
  color: var(--color-text);
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

body * {
  box-sizing: inherit;
}

span {
  text-shadow: 0 0.375rem var(--color-button-background);
}

#cytus {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}